h1 {
    color: blue;
}
body {
    background-color: antiquewhite;
}
div 
{
    background-color: aquamarine;
    text-align: center;
    color: blue;
}
div
{
    line-height: 10in;
    background-color: antiquewhite;
    border-style: solid;

}